body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #9E9E9E;
  color: white;
  min-width: 230px;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  padding: 10px;
  min-height: 400px;
  margin-bottom: 150px;
  clear: both;
}

.container {
  text-align: center;
}

#thumbnail {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: auto;
  height: 200px;
}

.showThumbnail {
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  background: white;
  color: black;
  height: 35rem;
  width: 40rem;
  padding: 10px;
}

.thumbnail {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  height: 45rem;
  width: 35rem;
}

#splash {
  width: 70%;
  height: 50%;
}

form {
  margin-top: 15px;
}

footer {
  margin-top: 50px;
  background-color: #333;
  width: 100%;
  bottom: 0;
  position: fixed;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}
