<div class="container">
  <div class="row pageHeading">
    <div class="col-sm-6 heading">
      <h1>Adopt a Pokemon Today!</h1>
    </div>
    <div class="col-sm-3 col-md-offset-3 add">
      <a class="btn btn-success" data-target="#myModal" data-toggle="modal">Put a Pokemon up for adoption!</a>
    </div>
  </div>
  <hr>

  <!-- <p>{{ message }}</p> -->

  <div class="row">
    <h1 ng-hide="pokemonlist">Please wait while we get your Pokemon!</h1>
    <div class="col-sm-12 col-md-6 col-lg-4" ng-repeat="n in pokemonlist track by $index">
      <div class="thumbnail">
        <img id="thumbnail" ng-src="{{n.url}}">
        <div class="caption">
          <h3>{{n.name}}</h3>
          <p>
            <strong>Type:</strong>
            {{n.type}}</p>
          <p>
            <strong>Species:</strong>
            {{n.species}}</p>
          <p>
            <strong>Gender:</strong>
            {{n.gender}}</p>
          <p>
            <strong>Description:</strong>
            {{n.description}}</p>
          <button class="btn btn-primary disabled" ng-if="n.isAvailable">Available</button>
          <button class="btn btn-danger disabled" ng-if="!n.isAvailable">Adopted!</button>
        </div>
      </div>
    </div>
  </div>
</div>



<div aria-labelledby="myModalLabel" class="modal fade edit" id="myModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <h1>Add a Pokemon to be adopted!</h1>
          <hr>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label col-sm-4" for="name">Name:</label>
              <div class="col-sm-7">
                <input autofocus class="form-control" ng-model="pokemon.name" placeholder="Pikachu" type="text" id="name">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="kind">Type:</label>
              <div class="col-sm-7">
                <input class="form-control" ng-model="pokemon.type" placeholder="Electric" type="text" id="type">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="variety">Species:</label>
              <div class="col-sm-7">
                <input class="form-control" ng-model="pokemon.species" placeholder="Mouse" type="text" id="species">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="gender">Gender:</label>
              <div class="col-sm-7">
                <select class="form-control" id="gender" ng-model="pokemon.gender">
                  <option value="None" selected>(Select Gender)</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="available">Available:</label>
              <div class="col-sm-7">
                <select class="form-control" id="available" ng-model="pokemon.isAvailable">
                  <option value="yes" selected>Yes</option>
                  <option value="no">No</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="url">Image URL:</label>
              <div class="col-sm-7">
                <input class="form-control" ng-model="pokemon.url" placeholder="http://google.com/images" type="text" id="url">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="description">Description/Notes:</label>
              <div class="col-sm-7">
                <textarea class="form-control" ng-model="pokemon.description" id="description" rows="5"></textarea>
              </div>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <button class="btn btn-success btn-block" ng-click="add(pokemon)" type="submit">Add</button>
          <button class="btn btn-block" data-dismiss="modal" type="button">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
